.bio {
    display: flex;
    justify-content: space-around;
 
}

.bio__image {
    display: flex;
    background-color: rgb(2, 2, 2);
    padding: 15px 15px 1px 15px;
    border: 3px solid rgb(230, 195, 195);
    border-radius: 6%;
    width: 16%;
    justify-content: center;
    box-shadow: 0 0 5px 3px rgba(1, 25, 32, 0.5);
    margin: 10px auto 10px auto;
    
}

body {
    background-color: rgb(155, 180, 182);
    color: rgb(46, 74, 167);
    font-family: 'Roboto', sans-serif;
}

.bio__committees {

    width: 45%;
    display: block;
    padding: 5px;
    border: 3px solid rgb(230, 195, 195);
    box-shadow: 0 0 5px 3px rgba(1, 25, 32, 0.5);
    border-radius: 1%;
    margin: 10px;
}

#header {
    
    font-size: 20px;
    display: block;
    text-align: center;
}

#image__label {

    text-align: center;
    
}

.bio__legislation {

    width: 45%;
    display: inline-grid;
    flex-grow: 1;
    padding: 5px;
    border: 3px solid rgb(230, 195, 195);
    box-shadow: 0 0 5px 3px rgba(1, 25, 32, 0.5);
    border-radius: 1%;
    margin: 10px;
}
li {
    border: 5px solid rgb(107, 105, 105);
    list-style-type: none;
    margin: 10px auto;
    border-radius: 16%;
    padding: 1em;
    font-size: 23px;
}
